.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  font-family: Arial;
}

h1 {
  text-align: center;
}

.messages {
  margin-top: 20px;
}

.msgBox {
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.msgText {
  font-size: 16px;
}

.time {
  display: block;
  font-size: 10px;
  color: #666;
  text-align: right;
}

.inputArea {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}
